---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Justin Solo - Software Developer">
    <main class="container flex-1 flex flex-col justify-center">
        <div class="flex flex-col space-y-2">
            <h1 class="text-2xl font-bold tracking-tighter">👋 Hello there!</h1>
            <p>
                I&apos;m{" "}
                <strong class="text-pretty font-semibold text-black">
                    Justin Solo
                </strong>
                , a Software Developer passionate about building scalable and efficient
                software.
            </p>
            <div class="flex gap-2">
                {/*Github Link*/}
                <Badge href="https://github.com/justinpaulosolo">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        class="stroke-neutral-700"
                        stroke-width="1.5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16 22.027v-2.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 0 0-1.5-3.75 5.07 5.07 0 0 0-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 0 0-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 0 0 5 5.797a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 0 0-.94 2.58v2.87"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 20.027c-3 .973-5.5 0-7-3"></path>
                    </svg>
                </Badge>
                {/*LinkedIn Link*/}
                <Badge href="https://linkedin.com/justinpaulosolo">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        stroke-width="1.5"
                        class="stroke-neutral-700"
                        fill="none"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5ZM7 17v-7"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
                        ></path>
                    </svg>
                </Badge>
                {/*Mail Link*/}
                <Badge href="mailto: justinpaulosolo@outlook.com">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        stroke-width="1.5"
                        class="stroke-neutral-700"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m7 9 5 3.5L17 9"></path>
                        <path
                            d="M2 17V7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2Z"
                        ></path>
                    </svg>
                </Badge>
            </div>
        </div>
    </main>
</Layout>
